@import url("whitespace-reset.css");

body {
  font: normal 16px "Open Sans", Helvetica, Arial, sans-serif;
  color: #444444;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  border-top: 10px solid #efefef;
  border-bottom: 1px solid #efefef;
  z-index: 1;
}

nav ul {
  margin: 0 auto;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 25px;
}

nav li a {
  font-size: 13px;
  font-weight: normal;
  line-height: 44px;
  color: #444444;
  text-transform: uppercase;
}

a {
  font-weight: bold;
  color: #008000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  margin-top: 54px;
  height: 428px;
  color: #ffffff;
  text-align: center;
  background: url("../images/front.jpg") 50% 50% no-repeat;
}

header img {
  width: 80px;
  height: 80px;
  margin-top: 150px;
}

header h1 {
  font-size: 68px;
  font-weight: normal;
}

header h2 {
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
}

p {
  margin-bottom: 17px;
  line-height: 25px;
}

h2 {
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 100;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 24px;
}

section {
  max-width: 960px;
  margin: 0 auto;
}

main {
  margin: 0 30px;
}

main > section {
  padding: 60px 0;
  text-align: center;
  border-top: 1px solid #efefef;
}

main > section p {
  margin-bottom: 10px;
  font-weight: 100;
  margin-right: auto;
  margin-left: auto;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  font-weight: bold;
  color: #ffffff;
  background: #008000;
}

.button:hover {
  text-decoration: none;
  background: #006000;
}

section ul li {
  display: inline-block;
  vertical-align: top;
}

#speakers ul li {
  position: relative;
  width: 280px;
  height: 378px;
  margin: 5px 4px;
  border: 1px solid #efefef;
}

section ul h3 {
  color: #008000;
}

section ul p {
  padding: 0 10px;
  margin: 0;
}

.speaker-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #ffffff;
  background: rgba(0, 0, 0, .9);
  transition: opacity 0.5s;
}

.speaker-overlay h3 {
  margin-top: 0px;
}

.speaker-overlay p {
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 17px;
  padding: 0 10px;
}

#speakers li:hover .speaker-overlay {
  opacity: 1;
}

table {
  border-bottom: 1px solid #efefef;
}

td {
  padding: 10px;
  text-align: left;
  border-top: 1px solid #efefef;
}

td img {
  width: 130px;
}

td h3 {
  display: inline;
  font-weight: normal;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.tag {
  display: inline-block;
  padding: 1px 4px;
  font-size: 7px;
  background: #eeeeee;
  border: 1px solid #aaaaaa;
}

td h4 {
  font-size: 18px;
  margin-top: 10px;
}

td:first-child {
  font-size: 24px;
}

#location p,
#call p {
  text-align: left;
}

#sponsors h3,
#sponsors ul {
  text-align: left;
}

#sponsors h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

#sponsors ul[class] img {
  margin-right: 40px;
}

.silver img {
  width: 240px;
}

.support img {
  width: 180px;
}

footer {
  padding: 30px 0 30px 0;
  color: #ffffff;
  background: url("../images/people.jpg") 50% 23% no-repeat;
  background-size: cover;
}

footer h2 {
  margin-bottom: 30px;
  text-align: center;
}

footer h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

footer section {
  padding: 10px 10px 20px 10px;
}

footer div {
  background: rgba(0, 0, 0, .7);
}

footer p {
  margin-bottom: 15px;
  font-weight: 300;
}

@media (max-width: 654px) {
  nav {
    display: none;
  }

  header {
    height: 300px;
    margin-top: 0;
  }

  header img {
    margin-top: 90px;
  }

  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 20px;
  }

  main {
    margin: 0 20px;
  }

  tr {
    position: relative;
    display: block;
    border-top: 1px solid #efefef;
  }

  td {
    border: none;
  }

  td:first-child {
    display: block;
    text-align: right;
    padding: 20px;
  }

  td:last-child {
    position: absolute;
    top: 0;
    left: 0;
  }

  td:last-child img {
    width: 80px;
  }

  #sponsors {
    margin: 0 -10px;
  }
}
